body {
    background-color: white;
}

#spacer{
  height: 50px
}
.triangle{
  height: 23px
}
h1{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3.5rem;
  margin-bottom: 0;
}
h2{
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.4rem;
  margin-top: 0;
  margin-left: 2rem;
}
.menu{
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.3rem;
  word-spacing: 30px;
  padding-left: 24px;
}


hr{
  width: 400px
}
#footer{
  margin-top: 70px;
  margin-bottom: 50px;
}
#email{
  margin-top: 40px;
}
.projects{
  width: 350px;
}
